.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(11rem, 100%), 0.7fr));
    gap: 2rem;
    justify-content: center;
}

.area-cont {
    width: 13vw;
    height: 13vw;
    margin-bottom: 10vh;
    padding: 0;
    box-shadow: 1px 1px 7px gray;
    background-color: #0dc2e2;
}

.area-cont:hover {
    background-color: #fed642;
}

.area-image {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 0.5vw;
}

.area-name {
    margin: 0;
    font-size: 1.5vw;
    color: black;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
}