@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

h1 {
    font-family: 'Montserrat';
    margin-left: 8vw;
    margin-top: 10vh;
    font-size: 3vw;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
    row-gap: 5vh;
    margin-top: 2vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

.category {
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 7px gray;
}

.categoryimage {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    filter:blur(1px);
}

.categoryname {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 2vw;
    text-align: center;
    color: whitesmoke;
    -webkit-text-stroke: 0.5px #201E1E;
    width: 18vw;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
}

.categoryimage:hover {
    z-index: 1;
    filter:blur(0);
}

#barcategory {
    justify-self: left;
}

@media only screen and (max-width: 768px) {
    
    .categories {
        grid-template-columns: 1fr 1fr;
    }

    .categoryname {
        font-size: 3vw;
    }

    h1 {
        font-size: 4.5vw;
    }
}