@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
    --bg-color: #0dc2e2;
    --link-color: #fed642;
    --color-3: #727272;

    --primary-font: "Playfair Display", serif;
    --secondary-font: "Montserrat", "Roboto", sans-serif;
}

h1 {
    font-family: var(--primary-font);
    margin-left: 8vw;
    margin-top: 8vh;
    font-size: 2.5rem;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(11rem, 100%), 0.7fr));
    gap: 4rem;
    justify-content: center;
    margin: 3vw 8vw;
}

.cat-img-cont {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 7px var(--color-3);
}

.cat-img-cont:hover {
    box-shadow: 0px 0px 15px var(--color-3);
}

.cat-img-cont>img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.categoryname {
    font-size: 1.4rem;
    color: black;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    margin: 0.3rem 0 0;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {

    .categories {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        row-gap: 5vw;
        margin-bottom: 0;
    }

    a {
        height: 15vw;
    }

    .category {
        display: flex;
        flex-direction: row;
        width: 80vw;
        align-items: center;
        height: 15vw;
        margin-bottom: 10vh;
        padding: 0;
        box-shadow: 1px 1px 7px gray;
        background-color: #0dc2e2;
    }

    .categoryname {
        font-size: 20px;
        color: white;
        justify-self: center;
    }

    .cat-img-cont {
        box-shadow: none;
        width: 15vw;
        height: 15vw;
    }

    .cat-img-cont:hover {
        box-shadow: none;
    }

    .cat-img-cont>img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 5vw;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 0.8rem;
    font-family: var(--secondary-font);
    margin: 4rem 1.5rem 0;
}

footer>p {
    width: 1fr;
    max-width: 500px;
    justify-self: start;
    margin: 0.3rem 0;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: var(--bg-color);
}

.soMe>a>img {
    width: 1.5vw;
    min-width: 25px;
}

.soMe>a {
    margin: 0.3rem 0.1rem;
}

.soMe>a:first-child {
    margin-left: 0;
}

.soMe>a:hover {
    filter: invert(40%) sepia(60%) saturate(3586%) hue-rotate(160deg) brightness(110%) contrast(100%);
}

.soMe {
    justify-self: end;
    display: flex;
    margin: 1rem;
    margin-left: 0;
    flex-wrap: nowrap;
}