.modal-footer>a {
    color: var(--bg-color);
    font-weight: 600;
}

.modal-footer>a:hover {
    color: var(--link-color);
}

.article-card {
    margin: 1rem 0;
}

.lnd-margin {
    margin: 0 2rem;
}

.ldn-card-cont>h2 {
    color: black;
    font-size: 1.2rem;
    margin: 0.3rem 0;
}

.cat-img-cont {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 7px var(--color-3);
}

.cat-img-cont:hover {
    box-shadow: 0px 0px 9px var(--color-3);
}

.cat-img-cont>img {
    width: 100%;
    height: auto;
    overflow: hidden;
    min-height: 227px;
}

.card-title {
    padding: 0.3rem 0.2rem 0.5rem;
    font-size: 1.2rem;
    color: black;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 0.3fr));
    gap: 1.5rem;
    justify-content: center;
}

.hidden {
    display: none;
}

.lnd-discover {
    width: 100%;
    height: 20vw;
    background: rgb(219, 243, 243);
    margin: 2rem 0;
}

.lnd-discover-content {
    max-width: max(70%, 50rem);
    margin: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    flex-wrap: wrap;
}

.disc-col-2>p {
    font-size: 1.2rem;
    margin: 3rem 0;
}

.lnd-discover-content>h1 {
    font-size: 4rem;
    margin: 0.5rem 0;
    text-align: right;
    width: 300px;
    font-family: var(--primary-font);
}

.disc-col-2 button {
    float: right;
}