.modal-footer>a {
    color: var(--bg-color);
    font-weight: 600;
}

.modal-footer>a:hover {
    color: var(--link-color);
}

.article-card {
    margin: 1rem 0 0;
}

.lnd-margin {
    margin: 0 2rem;
}

.ldn-card-cont>h2 {
    color: black;
    font-size: 1.2rem;
    margin: 0.3rem 0;
    text-align: center;
}

.explore-by {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-by>p {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    font-family: var(--primary-font);
}

.cat-img-cont {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 7px var(--color-3);
}

.cat-img-cont:hover {
    box-shadow: 0px 0px 15px var(--color-3);
}

.cat-img-cont>img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.card-title {
    padding: 0.3rem 0.2rem 0.5rem;
    font-size: 1.2rem;
    color: black;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(11rem, 100%), 0.7fr));
    gap: 2rem;
    justify-content: center;
}

.hidden {
    display: none;
}