* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
}

.article-card>img {
    width: 20rem;
    height: 23rem;
    border: 2px solid black;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
    justify-items: center;
    gap: 1.5rem;
}