@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@600&family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font);
}

:root {
  --bg-color: #0dc2e2;
  --link-color: #fed642;
  --color-3: #727272;

  --primary-font: "Playfair Display", serif;
  --secondary-font: "Montserrat", "Roboto", sans-serif;
  --main-text-color: #000;
  --white-space: 1rem;
  --margin-bottom: 1rem;
}

html {
  font-size: 100%;
}

a {
  font-family: var(--secondary-font);
  text-decoration: none;
  transition: all 0.2s;
}

#header-abt,
#area-article,
#category-article {
  font-family: var(--primary-font);
}

/*article page*/
.header-img {
  width: 100%;
  height: 400px;
  background-image: url(https://raw.githubusercontent.com/justtyx/explore-copenhagen/main/img/nyhavn-panorama.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
}

.article-container {
  color: black;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  font-family: var(--primary-font);
  text-align: center;
  transform: translateY(-50px);
  display: block;
  margin: auto;
  max-width: 700px;
}

.short-description {
  font-family: var(--secondary-font);
  max-width: 700px;
  display: block;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  box-shadow: 0.5px 0.5px 7px var(--color-3);
  border-radius: 2px;
  padding: 1rem;
  margin: 3% auto;
  align-items: center;
}

.card-img-cont {
  width: max(40%, 14.5rem);
  height: 90%;

  overflow: hidden;
}

.card-img-cont>img {
  width: 100%;
}

.text-column {
  width: 70%;
  margin: 0 1.5rem;
}

.text-column>h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  font-family: var(--primary-font);
}

.description {
  line-height: 140%;
  margin-bottom: 0.2rem;
  font-family: var(--secondary-font);
}

.address {
  font-size: 0.9rem;
  color: var(--color-3);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--secondary-font);
}

/*newsletter page*/
.newsletter-page {
  background-image: url(https://raw.githubusercontent.com/justtyx/explore-copenhagen/main/img/newsletter-image.jpg);
  background-repeat: no-repeat;
}

.newsletter-main {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  padding-left: 2em;
}

.news-heading {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.news-form {
  font-family: var(--secondary-font);
}

.register-form .e-mail {
  border: none;
  width: 20vw;
  height: 3vw;
  opacity: 30%;
}

.register-form .sub-button {
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #0dc2e2;
  width: 6vw;
  height: 2vw;
  border-radius: 5px;
  border: none;
  color: white;
}

.sub-button:hover {
  background-color: var(--link-color);
}

/**/

/*About page*/
.about-heading-wrapper {
  background-image: url(https://raw.githubusercontent.com/justtyx/explore-copenhagen/main/img/about-page-wrap.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: 400px;
  margin-bottom: 3em;
}

/* .about-wrap-heading {
  font-size: 4vw;
  font-family: var(--primary-font);
  color: #000;
  text-align: center;
  transform: translate(0%, 400%);
} */

.about-main {
  display: flex;
  flex-flow: column nowrap;
  margin: 0% 20% 0% 20%;
}

.column-about-content {
  min-width: 280px;
  text-align: left;
}

.about-page-image {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.about-heading {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 2em;
}

.about-p {
  font-family: var(--secondary-font);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 3em;
  line-height: 1.5;
}

.about-subhead {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

form input {
  width: 25rem;
  height: 2rem;
  margin-bottom: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.submit-button {
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #0dc2e2;
  width: 9.5vw;
  height: 2.5vw;
  border-radius: 5px;
  border: none;
  color: white;
  transform: translate(70%, 30%);
}

.submit-button:hover {
  background-color: var(--link-color);
}

a.category {
  margin-top: 0.6rem;
  background-color: var(--bg-color);
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 2px;
  text-decoration: none;
  font-family: var(--secondary-font);
}

a.category:hover {
  background-color: var(--link-color);
  text-decoration: none;
}

a.category>p {
  color: white;
  font-size: 0.9rem;
}

a.category>p:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .header-img {
    width: 100%;
    height: 200px;
    background-image: url(https://raw.githubusercontent.com/justtyx/explore-copenhagen/main/img/nyhavn-panorama.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .article-container {
    color: black;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    font-family: var(--primary-font);
    transform: translateY(-50px);
    display: block;
    margin: auto;
    max-width: 700px;
  }

  .short-description {
    font-family: var(--secondary-font);
    max-width: 350px;
    display: block;
    margin: 0 auto 3rem
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
    box-shadow: 0.5px 0.5px 7px var(--color-3);
    border-radius: 2px;
    margin: 6% auto 0;
    padding-left: 0;
    padding-right: 0;
  }

  .card>img {
    height: auto;
    width: 85%;
    padding-right: 0;
  }

  .text-column>h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: var(--margin-bottom);
    font-family: var(--primary-font);
    margin-top: 6px;
  }

  .text-column {
    margin-left: 0;
  }

  .description {
    font-family: var(--secondary-font);
    font-size: 0.88rem;
    padding-right: 0;
  }

  .address {
    font-size: 0.9rem;
    color: var(--color-3);
    margin-bottom: var(--margin-bottom);
    font-family: var(--secondary-font);
    font-size: 0.8rem;
  }
}

/*newsletter page*/
.newsletter-page {
  background-image: url(https://raw.githubusercontent.com/justtyx/explore-copenhagen/main/img/newsletter-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.newsletter-main {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  padding-left: 2em;
}

.news-heading {
  font-family: var(--primary-font);
  font-size: 2rem;
}

#e-mail {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 34vw;
  height: 3vw;
  background: transparent;
  font-size: 1.2em;
}

/**/

/*About page*/
.about-heading-wrapper {
  background-image: url(https://raw.githubusercontent.com/justtyx/explore-copenhagen/main/img/about-page-wrap.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: 400px;
  margin-bottom: 3em;
}

.about-container {
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 90%);
  padding: 15px;
  font-family: var(--primary-font);
  background-color: white;
  font-size: 2vw;
}

.about-main {
  display: flex;
  flex-flow: column nowrap;
  margin: 0% 20% 0% 20%;
}

.column-about-content {
  min-width: 280px;
  text-align: left;
}

.about-page-image {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.about-heading {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 2em;
}

.about-p {
  font-family: var(--secondary-font);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 3em;
  line-height: 1.5;
}

.about-subhead {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.fill-form {
  font-family: var(--secondary-font);
  font-size: 1vw;
}

label {
  font-family: var(--secondary-font);
}

form input {
  width: 30rem;
  height: 2rem;
  margin-bottom: 2rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.submit-button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #0dc2e2;
  width: 9.5vw;
  height: 2.5vw;
  border-radius: 5px;
  border: none;
  color: white;
}

.submit-button:hover {
  background-color: var(--link-color);
}

/**/

/*Buttons*/

/*Common styling for all buttons*/

button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 2px solid var(--bg-color);
}

/*Forms button*/

.forms-button {
  background: var(--bg-color);
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 7px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 1rem 1rem 0;
}

/*Button hover, active and other states*/

button:hover,
.landing-btn.selected:hover {
  background-color: var(--link-color);
  border: 2px solid var(--link-color);
}

a.category {
  margin-top: 0.6rem;
  background-color: var(--bg-color);
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 2px;
  text-decoration: none;
  font-family: var(--secondary-font);
}

a.category:hover {
  background-color: var(--link-color);
  text-decoration: none;
}

a.category>p {
  color: white;
  font-size: 0.9rem;
}

a.category>p:hover {
  text-decoration: none;
}

/*Forms button*/

.forms-button {
  background: var(--bg-color);
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 7px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 1rem 1rem 0;
}

/*Buttons*/

/*Common styling for all buttons*/

button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 2px solid var(--bg-color);
}

/*Landing page area-category*/

.landing-btn {
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  margin: 0.5rem 0.3rem 1.3rem 0;
}

.landing-btn.selected {
  background: var(--bg-color);
  color: white;
}

.landing-btn.unselected {
  background: transparent;
  color: var(--bg-color);
  border: 2px solid var(--bg-color);
}

/*Button hover, active and other states*/

button:hover,
.landing-btn.selected:hover {
  background-color: var(--link-color);
  border: 2px solid var(--link-color);
}

button:active,
.landing-btn.selected:active {
  background-color: transparent;
  border: solid 2px var(--link-color);
  color: var(--link-color);
}

.landing-btn.unselected:hover {
  border: 2px solid var(--link-color);
  color: var(--link-color);
  background-color: transparent;
}

.landing-btn.unselected:active {
  border: 2px solid var(--link-color);
  color: white;
  background-color: var(--link-color);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 0.8rem;
  font-family: var(--secondary-font);
  margin: 4rem 1.5rem 0;
}

.newsletter-foo {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  margin: 4rem 0 0;
}

.newsletter-foo>p {
  margin: 1rem;
}

footer>p {
  max-width: 500px;
  justify-self: start;
  margin: 0.3rem 0;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover {
  color: var(--bg-color);
}

.soMe>a>img {
  width: 1.5vw;
  min-width: 25px;
}

.soMe>a {
  margin: 0.3rem 0.1rem;
  margin-left: 1rem;
}

.soMe>a:first-child {
  margin-left: 0;
}

.soMe>a:hover {
  filter: invert(40%) sepia(60%) saturate(3586%) hue-rotate(160deg) brightness(110%) contrast(100%);
}

.soMe {
  justify-self: end;
  display: flex;
  margin: 1rem;
  margin-left: 0;
  flex-wrap: nowrap;
}